In [2]:
import pandas as pd
import os
import glob
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
%matplotlib inline

In [3]:
extracted_files = glob.glob('..\\Data\\*\\*\\processed\\*.csv')
df = pd.DataFrame()
list_ = []
for fileName in extracted_files:
    short_df = pd.read_csv(fileName)
    list_.append(short_df)
df = pd.concat(list_)

In [4]:
description_df = df.describe()

In [5]:
description_df = description_df[['passenger_count', 'trip_distance','fare_amount','extra','mta_tax','tip_amount','tolls_amount','improvement_surcharge','total_amount']]

In [6]:
description_df

,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
count,150774.000000,150774.000000,150774.000000,150774.000000,150774.000000,150774.000000,150774.000000,150774.000000,150774.000000
mean,1.475128,3.218923,12.778485,0.295781,0.496445,1.450825,0.257854,0.299968,15.579358
std,0.816061,3.732676,11.767395,0.280062,0.042010,4.099084,1.401734,0.003090,14.040645
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,1.100000,6.500000,0.000000,0.500000,0.000000,0.000000,0.300000,8.150000
50%,1.000000,1.900000,9.000000,0.500000,0.500000,0.980000,0.000000,0.300000,11.300000
75%,2.000000,3.800000,15.000000,0.500000,0.500000,2.000000,0.000000,0.300000,17.750000
max,6.000000,175.200000,998.000000,2.000000,0.500000,998.140000,95.540000,0.300000,1004.940000

In [7]:
sum_row = df.sum(axis=0, numeric_only=True)

In [8]:
sum_frame = sum_row.to_frame()
sum_frame

                                  0
index                  1.136632e+10
VendorID               1.507740e+05
passenger_count        2.224110e+05
trip_distance          4.853299e+05
pickup_longitude      -1.089626e+07
pickup_latitude        6.002464e+06
RatecodeID             1.578960e+05
dropoff_longitude     -1.090086e+07
dropoff_latitude       6.005368e+06
payment_type           2.228170e+05
fare_amount            1.926663e+06
extra                  4.459602e+04
mta_tax                7.485100e+04
tip_amount             2.187466e+05
tolls_amount           3.887773e+04
improvement_surcharge  4.522740e+04
total_amount           2.348962e+06

In [9]:
sum_frame = sum_frame.transpose()

In [10]:
sum_frame = sum_frame[['passenger_count', 'trip_distance','fare_amount','extra','mta_tax','tip_amount','tolls_amount','improvement_surcharge','total_amount']]

In [11]:
sum_frame = sum_frame.reset_index()

In [12]:
sum_frame['index'] = 'Sum'

In [13]:
description_df = description_df.reset_index()

In [14]:
description_df = description_df.append(sum_frame)

In [15]:
description_df = description_df.round(2)
description_df

,index,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,count,150774.00,150774.00,150774.00,150774.00,150774.00,150774.00,150774.00,150774.0,150774.00
1,mean,1.48,3.22,12.78,0.30,0.50,1.45,0.26,0.3,15.58
2,std,0.82,3.73,11.77,0.28,0.04,4.10,1.40,0.0,14.04
3,min,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00
4,25%,1.00,1.10,6.50,0.00,0.50,0.00,0.00,0.3,8.15
5,50%,1.00,1.90,9.00,0.50,0.50,0.98,0.00,0.3,11.30
6,75%,2.00,3.80,15.00,0.50,0.50,2.00,0.00,0.3,17.75
7,max,6.00,175.20,998.00,2.00,0.50,998.14,95.54,0.3,1004.94
0,Sum,222411.00,485329.90,1926663.28,44596.02,74851.00,218746.62,38877.73,45227.4,2348962.05